body{
    margin: 0;
    background: rgb(238, 157, 7);
    font-family:'work sans',sans-serif;
    font-weight: 300
} 

.container{
width: 80%;
margin:0 auto;    
}

div#container{
   

}

header{
    background: #0ad4c4c2;
}
header::after{
    content:'';
    display: table;
    clear: both;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
    
     

}



nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}


nav li{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 140px;

    padding: 20px;
    font-size: 20px;
}

ul.sidescroll{
    display:inline-flex;
    list-style: none;
    overflow: scroll;
    scrollbar-width: thin;
    
   
   
}

.sidescroll li{
    padding: 10px;

}

ul.sidescroll img{
    height: 100%;
    width: 13em;


}


    